flow4.json
[{"id":"3826a4f0.0290ec","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3c46df30.fe13e","type":"http in","z":"3826a4f0.0290ec","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["9ef87d0.c40428"]]},{"id":"7501b057.d7d99","type":"rpi-gpio in","z":"3826a4f0.0290ec","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":110,"y":300,"wires":[["b2956822.9029f8"]]},{"id":"b2956822.9029f8","type":"function","z":"3826a4f0.0290ec","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["fa8caa82.575d78"]]},{"id":"9ef87d0.c40428","type":"function","z":"3826a4f0.0290ec","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["fa8caa82.575d78","d10190fc.fe46f"]]},{"id":"d10190fc.fe46f","type":"http response","z":"3826a4f0.0290ec","name":"","statusCode":"","headers":{},"x":600,"y":180,"wires":[]},{"id":"fa8caa82.575d78","type":"debug","z":"3826a4f0.0290ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]}]