flow5.json
[{"id":"b1748758.f71b98","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"7a4d4a36.47b144","type":"http in","z":"b1748758.f71b98","name":"","url":"/on","method":"get","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["9ca7ea6e.cb47a8","b84d64bd.9721f8"]]},{"id":"9ca7ea6e.cb47a8","type":"function","z":"b1748758.f71b98","name":"Return Status","func":"msg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["19eed27a.eeaf0e","34e7012b.54e76e"]]},{"id":"b84d64bd.9721f8","type":"function","z":"b1748758.f71b98","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["1c5e7a63.9320f6"]]},{"id":"19eed27a.eeaf0e","type":"http response","z":"b1748758.f71b98","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"34e7012b.54e76e","type":"debug","z":"b1748758.f71b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"1c5e7a63.9320f6","type":"rpi-gpio out","z":"b1748758.f71b98","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":530,"y":320,"wires":[]},{"id":"375dfc40.91c854","type":"http in","z":"b1748758.f71b98","name":"","url":"/down","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["6487f49f.a4469c","1f5afe99.e26491"]]},{"id":"6487f49f.a4469c","type":"function","z":"b1748758.f71b98","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["1c5e7a63.9320f6"]]},{"id":"1f5afe99.e26491","type":"function","z":"b1748758.f71b98","name":"Return Status","func":"msg.payload=\"0\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["19eed27a.eeaf0e","34e7012b.54e76e"]]}]